@import '../config/variables';

.navdiv{
  display:flex;
  height:100%;
  margin-left: auto;
}
.navlist{
  width: 300px;
  align-items: center;
  display: flex;
  a {
    font-size: 1.4rem;
    font-weight:500;
    padding: 0.3em;
    color: $dark-color;
    font-weight: 500;
    margin: 0.2em auto;
  }
  a::after {
    content: "";
    display: block;
    height: 2px;
    border-radius: 1px;
    width: 0;
    background: transparent;
    transition: width 0.2s ease-in-out;
  }
  a:hover::after {
    width: 100%;
    background-color: $dark-color;
  }
}

.login{
  align-items: center;
  display: flex;
  margin: auto 2em;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  outline: none;
  a {
    color: $yellow-color;
    background-color: $dark-color;
    border: 3px solid $dark-color;
    border-radius: 0.25em;
    padding: 0.5em 0.6em;
  }
  a:hover {
    background-color: #f6c90e;
    color: $light-color;
    border: 3px solid $light-color;
  }
}