@import '../config/variables';

.navbar{
  width: 100%;
  height: 80px;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 5;
  display: flex;
  background-color: $yellow-color;
  justify-content: space-between;
  &_container{
    max-width: 1280px;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    background-color: $yellow-color;
    justify-content: space-between;
  }
}

.logo{
  margin: auto auto auto 2em;
  color: $dark-color;
  h1 {
    font-size: 1.5rem;
  }
  span {
    font-style: italic;
  }
}