@import '../config/variables';


.sidebar{
  position:fixed;
  float:left;
  width: 28%;
  height:450px;
  max-width:250px;
  margin:100px 1em 2em 1em;
  background-color:$pale-color;
  color:$dark-color;
};

.userInfo{
  text-align:center;
  width:90%;
  margin:2em auto;
  p{
    margin: 1em auto;
    font-size:0.8rem;
    font-weight: 600;
  }

  .alert{
    font-size: 1.2rem;
    font-weight:600;
    color: $yellow-color;
  }
};

.cartInfo{
  width:80%;
  color:$dark-color;
  height:250px;
  background-color:$white-color;
  margin: 2em auto;
  border-radius:0.25em;
  h2{
      padding:1em 0 0 0;
      text-align:center;
      font-size: 1.2rem;
  }
}
.total{
  width:90%;
  height:50%;
  margin:auto;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  h3{
    font-size: 1rem;
    margin:1em auto 0 auto;
  }
}

button{
  width:80%;
  height:35px;
  color:$black-color;
  margin:0.5em 10% 0.5em 10%;
  border-radius:0.25em;
  border:none;
  background-color:$blue-color;
  font-size:1.1rem;
  font-weight:520;
  :hover{
      transform:scale(1.02);
  }
  &:active{
  background-color:$pale-color;
}
}