@import '../config/variables';


.emptycart{
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  flex-direction: column;
  button{
    margin: 1em auto;
    width: 10em;
    height: 2.5em;
    border-radius: 0.25em;
    border: none;
    background-color: $dark-color;
    a {
      text-decoration: none;
      list-style: none;
      color: $white-color;
    }    &:hover {
      transform: scale(1.02);
      transition: all 0.2s ease-in;
      background-color: $light-color;
    }
    &:active {
      background-color: $pale-color;
    }
  }
}