$white-color: #ffff;
$dark-color: #303841;
$light-color: #3a4750;
$pale-color: #eeeeee;
$black-color: #000000;
$yellow-color: #f6c90e;
$blue-color: #24a0ed;
$red-color: #df4759;


$medium-width : 1024px;
$small-width :420px;